/* Reset some default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Set a background color for the body */

body {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Style the header/navigation bar */

header {
    background-color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}


/* Style the container */

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


/* Style the "Predict" button */

input[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Form layout styles */

.form-horizontal label,
.form-horizontal input {
    display: block;
    margin-bottom: 10px;
}

.form-horizontal label {
    width: 230px;
}

.form-vertical label,
.form-vertical input {
    display: block;
    margin-bottom: 10px;
}


/* Center-align the button */

.centered-button {
    text-align: center;
}